<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="x-apple-disable-message-reformatting" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="color-scheme" content="light dark" />
        <meta name="supported-color-schemes" content="light dark" />
        <title></title>
        <style type="text/css" rel="stylesheet" media="all">
          @import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700&display=swap');

          body { font-family: 'Nunito Sans', Helvetica, Arial, sans-serif; width: 100% !important; height: 100%; margin: 0; -webkit-text-size-adjust: none; }

        </style>
    </head>
    <body>
        <h1>You have been contacted via the XXX website</h1>
        <p>
            <b>Firstname :</b> <%= locals.firstname %> </br>
            <b>Lastname :</b> <%= locals.lastname %> </br>
            <b>Email :</b> <%= locals.email %> </br>
            <b>Telephone :</b> <%= locals.telephone %> </br>
            <b>Message :</b> <%= locals.message %> </br>
        </p>
    </body>
</html>